.titleMain{
/* font-family: 'Open Sans', sans-serif; */
color: #bec1ce;
font-size: larger;
margin-top: 7%;
height: auto;
display: flex;
flex-direction: column;
align-items: center;


}
.titleMain h1{
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 20%;

}
.titleMain button{
  color: aliceblue;
  background-color: #2972ee;
  border-radius: 10px;
width: 85%;
height: 6vh;
font-size: 16px;
  text-align: center;
}